/* FOR RESPONSIVENESS OF PHONE */

:root{
    --bg-color: #1a1a1a;
    --bg2-color: #070607;
    --text-color: rgb(255, 115, 0);
    --text-color2: rgb(223, 227, 230);
}

/* h1,
h3{
    margin: 5px;
    padding: 5px;
} */
h1{
    font-size: 1.5rem;
}
h3{
    font-size: 30px;
}


/* .main-section{
    font-size: smaller;
} */

.main-item{
    margin: 2px 15px;
}

/* .about{
    height: 110vh;
} */

.about-image img{
    width: 80vw;
    margin: 10px;
}

.about-text{
    margin: 5px;
    font-size: smaller;
}

.skill-item{
    padding: 0%;
}


.services-container{
    flex-direction: column;
}

.cont{
    width: 85vw;
    /* height: 15vh; */
}

.cont-para{
    font-size: small;
}


.project-box1,
.project-box2{
    flex-direction: column;
}

/* .portfolio{
    height: 170vh;
} */



.inner-box{
    height: 0;
    /* flex-direction: row; */
    width: 100%;
}
.inner-box:hover{
    height: 100%;
    width: 80vw;
}

.contact{
    /* height: 80vh; */
    margin: 10vh 10vw;
}

.contact textarea,
.contact input{
    width: 60vw;
}

.p-box{
    width: 80vw;
}

.hide{
    display: none;
    height: 0vh;
}

.h-increase{
    height: 100vh;
    background-color: var(--bg2-color);
    transition: all 0.5s ease-in;
}

.m-navitem{
    margin: 20px auto;
    /* font-size: 30px; */
    transition: all 0.3s ease-in;
}

.show-nav{
    /* height: 50%; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: relative;
    /* justify-content: center; */
    transition: all 0.5s ease-in;
}

.burger{
    /* display: block; */
    display: flex;
    position: absolute;
    top: 2.5vh;
    right: 2.5vh;
    flex-direction: column;
}


.line1{
    margin: 0px;
    transform: rotate(45deg) translate(3px, 0);
}

.line3{
    margin: 0px;
    transform: rotate(-45deg) translate(3px, 0);
}

.line2{
    display: none;
}

.burgerc{
    /* display: block; */
    /* position: absolute; */
    /* top: 3vh; */
    /* right: 3vh; */
}

.contact-boxes{
    flex-direction: column;
}